@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color:  #2C8C99;
}
.bg-nav{
    background-color: #28464B;
}
.bg{
    background-color: #87d1c9;
}
.text{
    color: #28464B;
}

.nav-menu {
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
  }
  
  .nav-menu.open {
    max-height: 500px;
    opacity: 1;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1.0s ease-out, transform 1.0s ease-out;
  }
  
  .fade-in-visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  